@import "/src/assets/styles/imports.scss";

.loading-spinner,
.loading-spinner:after {
  border-radius: 50%;
  width: 102px;
  height: 102px;
}

.loading-spinner {
  font-size: 10px;
  position: relative;
  border-top: 15px solid $lightGray;
  border-right: 15px solid $lightGray;
  border-bottom: 15px solid $lightGray;
  border-left: 15px solid $blue;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}