$white: #FFFFFF;
$gray: #F5F5F5;
$red: #FF0000;
$redSecond: #E9041F;
$red-third: #FF2E00;
$green: #1EB03E;
$blue: #2A5392;
$lightBlue: #1A78A7;
$blueSecond: #3364ac;
$blueThird: #4176c5;
$graySecond: #CACACA;
$lightGray: #ECECEC;
$lightGraySecond: #E5E5E5;
$lightGrayThird: #B5B5B5;
$gray-third: #F3F4F4;
$dark-gray: #545454;
$dark-graySecond: #7A7A7A;
$dark-grayActive: #7e7e7e;
$dark-grayHover: #666363;
$backgroundGradient: linear-gradient(93.31deg, #4269AA -10.99%, #28AAD6 129.09%);
$box-shadow-header: 0px 15px 20px 0px rgb(0 0 0 / 10%);